//
// Helpers
//

.intro {
  background-color: rgba($mid, 0.85);
  max-width: 25em;
  font-size: 1.5em;
  padding: $global-component-padding / 2;
  margin: 0 0 3.5em 0;

  p {
    margin: 0;
    padding: 0;
  }
}

.attn {
  font-family: $overpass-mono;
  font-size: 1.6em;
  line-height: 1.35;
  color: $pink;
  border-left: 15px solid $mid;
  padding-left: 1em;
  transform: translateX(-1.5em);
  margin: 1.5em 0;
}