.menu {
  margin-left: auto;
  font-family: $overpass-mono;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: $char-spacing;
  @include cleartext;

  ul {
    @include list-reset;
  }

  li, a {
    display: block;
  }

  li {
    display: block;

    @for $i from 1 through length($colors) {
      $c: nth($colors, $i);

      &:nth-of-type(#{$i}) a {
        color: $c;

        &:after {
          background-color: $c;
        }
      }
    }
  }

  a {
    padding: 0.5em 1.5em;

    &:after {
      display: block;
      content: "";
      height: 3px;
      will-change: transform;
      transform: scaleX(0) scaleY(1);
      transition: transform 300ms ease-in-out;
    }

    &.nuxt-link-active {
      color: #fff;

      &:after {
        transform: scaleX(0.5) scaleY(1);
      }
    }
  }

  @media #{$bp-medium} {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul {
      display: flex;

      > li {
        flex: 0 0 1;
      }
    }
  }
}
