//
// Work Grid
//

.project-list {
  list-style: none;
  padding: 0;
  margin: 4rem 0;
}

.project-list__item {
  margin: 6rem 0;

  &:before {

  }
}

.project-list__link {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 3px;

  &:after {
    position: absolute;
    bottom: -3rem; left: 0;
    z-index: 0;
    content: "";
    display: block;
    width: 100%;
    height: 35%;
    background: linear-gradient(to top, $teal 50%, rgba($teal,.5) 100%);
    will-change: height, transform;
    transition: height 300ms ease-in-out, transform 300ms ease-in-out 100ms;
    transform: rotate(-5deg) scaleX(1.2);
  }

  @media #{$bp-medium} {
    &:hover {

      &:after {
        height: 70%;
        // transform: rotate(5deg) scaleX(1.2);
      }

      .project-list__item-faux-link {
        background-color: $yellow;
        color: $mid;
      }

      .project-list__item-title {
        background: $pink;
        color: $light;
      }
    }
  }
}

.project-list__item-faux-link {
  background-color: $pink;
  display: block;
  padding: 0.65rem 2rem;
  float: right;
  clear: both;
  transform: skewX(-10deg) translate(1rem,-2rem) !important;
  font-size: 1.2rem;
  font-weight: 700;
  color: $light;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  transition: background 300ms ease-in-out, color 300ms ease-in-out;
}

.project-list__item-image {
  display: block;
  margin: 0;
  // filter: grayscale(100%);
}

.project-list__item-content {
  position: absolute;
  z-index: 1;
  bottom: 30px; left: 30px;
  display: block;
  width: calc(100% - 60px);
}

.project-list__item-content-inner {
  transform: skewX(10deg);
}

.project-list__item-title {
  padding: 1rem 2rem;
  margin: 0;
  background-color: $mid;
  color: $teal;
  transition: background 300ms ease-in-out, color 300ms ease-in-out;

  &:after, &:before {
    display: none;
  }
}

.angle-forward {
  transform: skewX(10deg);
}

.angle-reverse {
  transform: skewX(-10deg);
}